.movies {
    margin-top: 50px;

    ul {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
        grid-gap: 15px;

        li {
            flex: 0 0 (100%/6);

            img {
                width: 100%;
                border-radius: 8px;
            }
        }
    }

    @import "../ListSort/ListSort.scss";
}
