.rowMoviesTv {
    display: flex;
    padding-inline-start: 7.5vw;
    margin: auto;
    position: relative;
    margin: 60px 0;

    .description {
        min-width: 190px;
        width: 190px;

        p {
            font-size: 16px;
            line-height: 1.5;
        }

        h2 {
            margin: 0;
        }
    }

    .carousel {
        overflow: hidden;

        ul {
            display: flex;
            position: relative;
            transition: transform 0.5s;
            width: 100%;

            li {
                position: relative;
                display: flex;
                justify-content: center;

                p {
                    font-size: 180px;
                    font-weight: 700;
                    letter-spacing: -20px;
                    margin: 0;
                    color: #222c38;
                    line-height: 100%;
                    align-self: flex-end;
                }

                img {
                    width: 185px;
                    border-radius: 5px;
                }
            }
        }

        &:hover {
            .prev,
            .next {
                opacity: 1;
            }
        }

        .prev,
        .next {
            position: absolute;
            width: 40px;
            top: 0;
            bottom: 0;
            margin: auto;
            background-color: rgba(6, 13, 23, 0.8);
            opacity: 0;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 12px;
                height: 12px;
                margin: auto;
                border: 3px solid $blue;
                transition: 0.2s all;
                transform: rotate(45deg);
            }

            &:hover {
                &::before {
                    border-color: $white;
                    transform: rotate(45deg) scale(1.2);
                }
            }
        }

        .prev {
            &::before {
                border-right: none;
                border-top: none;
            }
        }

        .next {
            right: 0;

            &::before {
                border-left: none;
                border-bottom: none;
            }
        }
    }
}
