.row-movies-tv {
    display: flex;
    padding-inline-start: 7.5vw;
    margin: auto;
    position: relative;
    margin: 80px 0;

    .description {
        min-width: 190px;
        width: 190px;

        p {
            font-size: 16px;
        }

        h2 {
            margin: 0;
        }
    }

    .carousel {
        overflow: hidden;

        ul {
            display: flex;
            position: relative;
            transition: transform 0.5s;
            width: 100%;

            li {
                position: relative;
                display: flex;
                justify-content: center;

                p {
                    font-size: 180px;
                    font-weight: 700;
                    letter-spacing: -20px;
                    margin: 0;
                    color: #222c38;
                    line-height: 100%;
                    align-self: flex-end;
                }

                img {
                    width: 185px;
                    border-radius: 5px;
                }
            }
        }

        &:hover {
            .prev,
            .next {
                opacity: 1;
            }
        }
    }
}
