@import "./utils/variables.scss";

body {
    color: $text;
    font-size: 14px;
    font-family: Lato, Lato-fallback, Arial, sans-serif;
    background-color: $primary;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    button {
        border: none;
        font-family: inherit;
        color: inherit;
    }
}

@import "../Components/Header/Header.scss";

@import "../Components/Pages/Home/Home.scss";
// @import "../Components/Pages/New/New.scss";
