footer {
    display: flex;
    width: max-content;
    margin: auto;
    padding: 50px 0;

    p {
        margin: 0 30px 0 0;
    }

    img {
        height: 40px;
        margin-right: 10px;
    }
}
